{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>try</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/ionicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/Login-Form-Dark.css'%}">
    <link rel="stylesheet" href="{%static 'css/Navigation-with-Button.css'%}">
    <link rel="stylesheet" href="{%static 'css/Navigation-with-Search.css'%}">
    <link rel="stylesheet" href="{%static 'css/Registration-Form-with-Photo.css'%}">
    <link rel="stylesheet" href="{%static 'css/cssstyles'%}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><img src="assets/img/usjrLOGO.png"><a class="navbar-brand" href="#">USJR</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-uppercase" id="navcol-1">
                <ul class="nav navbar-nav mr-auto" id="navbar3">
                    <li class="nav-item" role="presentation"><a id="HomeID" class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a id="ProfileID" class="nav-link" href="#">Profile</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Request</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </li>
                </ul><span class="navbar-text actions"> <a class="login" href="login.html">Log In</a><a id="buttonSignUp" class="btn btn-light action-button" role="button" href="register.html">Sign Up</a></span>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-1 text-capitalize text-center text-warning"><strong>Welcome to USJR!</strong></h1>
        <p></p>
        <p><a class="btn btn-primary text-center" role="button" id="Learn">Learn more</a></p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

</html>